<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NateW.Ssm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NateW.Ssm.Properties.Settings>
            <setting name="DefaultPort" serializeAs="String">
                <value>Mock</value>
            </setting>
            <setting name="LastProfilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogFolderPath" serializeAs="String">
                <value/>
            </setting>
        </NateW.Ssm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
