<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NateW.Ssm.ApplicationUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <NateW.Ssm.ApplicationUI.Properties.Settings>
      <setting name="CarPC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="WindowHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="SsmPort" serializeAs="String">
        <value>Mock ECU</value>
      </setting>
      <setting name="Main1" serializeAs="String">
        <value>P58,AFR</value>
      </setting>
      <setting name="Main2" serializeAs="String">
        <value>P12,g/s</value>
      </setting>
      <setting name="Main3" serializeAs="String">
        <value>P200,g/rev</value>
      </setting>
      <setting name="Main4" serializeAs="String">
        <value>P25,psi</value>
      </setting>
      <setting name="Main5" serializeAs="String">
        <value>P79,F</value>
      </setting>
      <setting name="Main6" serializeAs="String">
        <value>P11,F</value>
      </setting>
      <setting name="FTrim1" serializeAs="String">
        <value>E44,%</value>
      </setting>
      <setting name="FTrim2" serializeAs="String">
        <value>E45,%</value>
      </setting>
      <setting name="FTrim3" serializeAs="String">
        <value>P12,g/s</value>
      </setting>
      <setting name="FTrim4" serializeAs="String">
        <value>E46,%</value>
      </setting>
      <setting name="FTrim5" serializeAs="String">
        <value>E47,%</value>
      </setting>
      <setting name="FTrim6" serializeAs="String">
        <value>P3,%</value>
      </setting>
      <setting name="Timing1" serializeAs="String">
        <value>P10,degrees</value>
      </setting>
      <setting name="Timing2" serializeAs="String">
        <value>E53,degrees</value>
      </setting>
      <setting name="Timing3" serializeAs="String">
        <value>E40,degrees</value>
      </setting>
      <setting name="Timing4" serializeAs="String">
        <value>E94,degrees</value>
      </setting>
      <setting name="Timing5" serializeAs="String">
        <value>E95,degrees</value>
      </setting>
      <setting name="Timing6" serializeAs="String">
        <value>E31,multiplier</value>
      </setting>
      <setting name="Boost1" serializeAs="String">
        <value>E90,psi relative sea level</value>
      </setting>
      <setting name="Boost2" serializeAs="String">
        <value>E35,psi</value>
      </setting>
      <setting name="Boost3" serializeAs="String">
        <value>P36,%</value>
      </setting>
      <setting name="Boost4" serializeAs="String">
        <value>P25,psi</value>
      </setting>
      <setting name="Boost5" serializeAs="String">
        <value>E79,absolute %</value>
      </setting>
      <setting name="Boost6" serializeAs="String">
        <value>E80,absolute %</value>
      </setting>
      <setting name="Roughness1" serializeAs="String">
        <value>P63,misfire count</value>
      </setting>
      <setting name="Roughness2" serializeAs="String">
        <value>P64,misfire count</value>
      </setting>
      <setting name="Roughness3" serializeAs="String">
        <value>P2,F</value>
      </setting>
      <setting name="Roughness4" serializeAs="String">
        <value>P69,misfire count</value>
      </setting>
      <setting name="Roughness5" serializeAs="String">
        <value>P70,misfire count</value>
      </setting>
      <setting name="Roughness6" serializeAs="String">
        <value>P8,rpm</value>
      </setting>
      <setting name="A1" serializeAs="String">
        <value>P30,%</value>
      </setting>
      <setting name="A2" serializeAs="String">
        <value>E124,estimated AFR</value>
      </setting>
      <setting name="A3" serializeAs="String">
        <value>P47,%</value>
      </setting>
      <setting name="A4" serializeAs="String">
        <value>E93,%</value>
      </setting>
      <setting name="A5" serializeAs="String">
        <value>P58,AFR</value>
      </setting>
      <setting name="A6" serializeAs="String">
        <value>P201,%</value>
      </setting>
      <setting name="B1" serializeAs="String">
        <value>P49,degrees</value>
      </setting>
      <setting name="B2" serializeAs="String">
        <value>P48,degrees</value>
      </setting>
      <setting name="B3" serializeAs="String">
        <value>P8,rpm</value>
      </setting>
      <setting name="B4" serializeAs="String">
        <value>P40,V</value>
      </setting>
      <setting name="B5" serializeAs="String">
        <value>P39,V</value>
      </setting>
      <setting name="B6" serializeAs="String">
        <value>P200,g/rev</value>
      </setting>
      <setting name="MaxRpm" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="MaxMafGS" serializeAs="String">
        <value>275</value>
      </setting>
      <setting name="MaxAbsoluteBoostBar" serializeAs="String">
        <value>3.0</value>
      </setting>
      <setting name="MaxLoadGRev" serializeAs="String">
        <value>3.0</value>
      </setting>
      <setting name="ColorNormalButtonTop" serializeAs="String">
        <value>#0000FF</value>
      </setting>
      <setting name="ColorNormalButtonBottom" serializeAs="String">
        <value>#000040</value>
      </setting>
      <setting name="ColorNormalButtonText" serializeAs="String">
        <value>#808080</value>
      </setting>
      <setting name="ColorSelectedButtonTop" serializeAs="String">
        <value>#8080FF</value>
      </setting>
      <setting name="ColorSelectedButtonBottom" serializeAs="String">
        <value>#000080</value>
      </setting>
      <setting name="ColorSelectedButtonText" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="ColorLinesBetweenButtons" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="ColorSixPackMajorText" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="ColorSixPackMinorText" serializeAs="String">
        <value>#808080</value>
      </setting>
      <setting name="ColorSixPackHorizontalLine" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="ColorSixPackVerticalLines" serializeAs="String">
        <value>#808080</value>
      </setting>
      <setting name="ColorScatterPlotForeground" serializeAs="String">
        <value>#ffffff</value>
      </setting>
      <setting name="ColorScatterPlotHighlightInner" serializeAs="String">
        <value>#ffffff</value>
      </setting>
      <setting name="ColorScatterPlotHighlightOuter" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="ColorScatterPlotText" serializeAs="String">
        <value>#ffff00</value>
      </setting>
      <setting name="ColorCommonBackground" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="ColorCommonAxisLines" serializeAs="String">
        <value>#ffffff</value>
      </setting>
      <setting name="ColorCommonAxisText" serializeAs="String">
        <value>#ffffff</value>
      </setting>
      <setting name="ColorCommonAxisHighlight" serializeAs="String">
        <value>#000080</value>
      </setting>
      <setting name="ColorHeatMapForeground" serializeAs="String">
        <value>#0000FF</value>
      </setting>
      <setting name="ColorHeatMapHighlight" serializeAs="String">
        <value>#ff0000</value>
      </setting>
      <setting name="ColorHeatMapCellText" serializeAs="String">
        <value>#ffffff</value>
      </setting>
      <setting name="ColorHeatMapOverlayText" serializeAs="String">
        <value>#ffff00</value>
      </setting>
      <setting name="BackButton" serializeAs="String">
        <value>Minimize</value>
      </setting>
      <setting name="PlxPort" serializeAs="String">
        <value/>
      </setting>
      <setting name="ParameterActualAfr" serializeAs="String">
        <value>P58,AFR</value>
      </setting>
      <setting name="ParameterMaf" serializeAs="String">
        <value>P12,g/s</value>
      </setting>
      <setting name="ParameterDesiredAfr" serializeAs="String">
        <value>E84,estimated AFR</value>
      </setting>
      <setting name="ParameterRpm" serializeAs="String">
        <value>P8,rpm</value>
      </setting>
      <setting name="ParameterThrottle" serializeAs="String">
        <value>P13,%</value>
      </setting>
      <setting name="ParameterMrp" serializeAs="String">
        <value>P25,psi</value>
      </setting>
      <setting name="ParameterLoad" serializeAs="String">
        <value>P200,g/rev</value>
      </setting>
      <setting name="ParameterMap" serializeAs="String">
        <value>P7,bar</value>
      </setting>
      <setting name="ParameterKnockSum" serializeAs="String">
        <value>E114,count</value>
      </setting>
    </NateW.Ssm.ApplicationUI.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
