<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NateW.Ssm.ApplicationLogic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="NateW.Ssm.Applications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NateW.Ssm.ApplicationLogic.Properties.Settings>
            <setting name="DefaultSsmPort" serializeAs="String">
                <value>Mock ECU</value>
            </setting>
            <setting name="LastProfilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainFormRectangle" serializeAs="String">
                <value>0, 0, 800, 600</value>
            </setting>
            <setting name="MainFormMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFolderPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultPlxPort" serializeAs="String">
                <value>None</value>
            </setting>
        </NateW.Ssm.ApplicationLogic.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
