<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Left" value="0"/>
    <add key="Top" value="0"/>
    <add key="Width" value="800"/>
    <add key="Height" value="600"/>
    <add key="Port" value="Mock ECU"/>

    <add key="0" value="P58,AFR"/>	      <!-- AFR -->
    <add key="1" value="P12,g/s"/>	      <!-- MAF -->
    <add key="2" value="P200,g/rev"/>     <!-- load -->

    <add key="3" value="P25,psi"/>	      <!-- boost -->
    <add key="4" value="P79,F"/>	        <!-- EGT -->
    <add key="5" value="P10,degrees"/>	  <!-- total timing -->

    <add key="x" value="P4,%"/>		        <!-- AFR Learning #1 -->
    <add key="x" value="P3,%"/>		        <!-- AFR Correction #1 -->
    <add key="x" value="P10,degrees"/>	  <!-- total timing -->
    <add key="x" value="E25,multiplier"/> <!-- IAM -->
    <add key="x" value="P12,g/s"/>	      <!-- load -->
    <add key="x" value="P290,msmin"/>	    <!-- Fuel flow -->
    <add key="x" value="P39,V"/>	        <!-- TGV Sensor Voltage -->
    <add key="x" value="P21,ms"/>	        <!-- injector pulse width -->
  </appSettings>
</configuration>